<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Creates Swift VIPER module with View, Interactor, Presenter and Wireframe</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>DefaultCompletionName</key>
	<string>Viper</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Description</key>
            <string>The name of the module to create</string>
            <key>Identifier</key>
            <string>moduleName</string>
            <key>Name</key>
            <string>New Module Name:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
    </array>
	<key>AllowedTypes</key>
	<array>
		<string>public.folder</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<integer>20</integer>
	<key>TemplateVersion</key>
	<string>1.0</string>
</dict>
</plist>
