<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Creates VIPER module tests for Interactor, Presenter and Wireframe</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>DefaultCompletionName</key>
	<string>Viper</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.folder</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<integer>20</integer>
	<key>TemplateVersion</key>
	<string>1.2</string>
</dict>
</plist>
